@import url(http://fonts.googleapis.com/css?family=Jura|Inconsolata);

body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: Inconsolata, monospace;
}

#wrapper {
    margin: 12px auto;
    width: 75%;
}

/* Header {{{ */
header h1 {
    margin: 0;
    padding: 10px;
    color: #fff;
    font-family: Jura, sans-serif;
}

/* }}} */

/* Content {{{ */
#content
{
    padding: 10px;
    color: #fff;
    background: #161616;
    border: 1px solid #433A4A;
}

#content section + section
{
    margin-top: 24px;
}

#content h1,
#content h2,
#content h3
{
    margin: 0;
    padding: 2px;
    /* FIXME: webkit currently has no support for fit-content */
    max-width: -moz-fit-content;
    max-width: fit-content;
    font-family: Jura, sans-serif;
    text-transform: lowercase;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

#content h1:empty,
#content h2:empty,
#content h3:empty
{
    display: none;
}

#content h1 {
    font-size: 250%;
    border-bottom: 1px dotted #9BC955;
    color: #9BC955;
    text-transform: uppercase;
}

#content h2 {
    border-top: 1px dotted #9BC955;
    border-bottom: 1px dotted #9BC955;
    color: #9BC955;
    font-size: 200%;
}

#content h3 {
    border-bottom: 1px dotted #CED994;
    border-top: 1px dotted #CED994;
    color: #CED994;
    font-size: 150%;
}

table.scores {
    margin: 0;
    border: 1px solid #433A4A;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

table.scores tr > td:first-child {
    min-width: 300px;
}

table.scores tr:nth-child(odd) {
    background: #191919;
}

table.scores td {
    margin: 0;
    padding: 6px;
}


input + label {
    margin-left: 16px;
}

input,
button {
    padding: 4px;
    font-family: Inconsolata, monospace;
}

input {
    color: #fff;
    background: transparent;
    border: 1px solid #433A4A;
}

button
{
    color: #000;
    background: #433A4A;
    border: 1px solid #433A4A;
    font-weight: bold;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

button:hover
{
    border: 1px solid #000;
}

input:focus,
button:active
{
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
:-moz-placeholder
{
    color: #444;
}

::-webkit-input-placeholder
{
    color: #444;
}
/* }}} */
